container {
    margin: 10px;
    
  }
  
  input {
    padding: 8px;
    border-radius: 4px;
    
  }

  
  label {
    display: block;
    margin-bottom: 5px;
   
  }
  
  select {
    padding: 8px;
    border-radius: 4px;
    
  }